.condition-wrap{padding:20px 0;overflow: hidden;background:#fff;}
.wrap{ overflow: hidden;background:#F1F3F6;padding-top: 20px;}
.market{width: 1170px;margin: 0 auto;margin-bottom: 30px;}
.tac{
	background-color: #fff;
	padding-bottom: 20px;
}
.el-money {
	margin-right: 10px;
	background: url(../images/user/money.png);
}
.el-money-on {
	margin-right: 10px;
	background: url(../images/user/money_on.png);
}
.el-submenu .el-menu-item{
	min-width:190px;
}
/*可以公共*/
.my-icon-size{
	display: inline-block;
	width:20px;
	height:20px;
	background-size: cover;
}
.pages{
	text-align: center;
    margin-top: 20px;
}
#app>div{
	background-color: #F1F3F6;
}
