.condition-wrap{padding:20px 0;overflow: hidden;background:#fff;}
.wrap{ margin: 0px auto 30px;overflow: hidden;background:#F1F3F6;padding-top: 20px;}
.market{width: 1170px;margin: 0 auto;}
.el-money {
	margin-right: 10px;
	background: url(../images/user/money.png);
}
.el-money-on {
	margin-right: 10px;
	background: url(../images/user/money_on.png);
}
/*可以公共*/
.my-icon-size{
	display: inline-block;
	width:20px;
	height:20px;
	background-size: cover;
}